@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }

    .animation-delay-3000 {
        animation-delay: 3s;
    }
    
    .animation-delay-4000 {
        animation-delay: 4s;
    }

    .text-shadow-none {
        text-shadow: none;
    }

    .text-shadow-sm {
        text-shadow: 5px 5px 5px black;
    }

    .text-shadow-md {
        text-shadow: 10px 10px 10px black;
    }
}